body{
    background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-color: #141414;
}
.btn-block {
    display: block;
    width: 100%;
}